<section class="mw7 center plm-m plm-ms prm-m prm-ms">    
    <div class="w6 center mtxxl mbxxl mtl-ms mbxl-ms">
        <a class="white f5 bold tracked" target="_blank" href="https://raw.githubusercontent.com/casabeats/snd/gh-pages/src/snd.min.js">
            <div class="w4 bg-custom br2 ptm pbm tc fl trans-bg">DOWNLOAD</div>
        </a>
        <a class="white f5 bold tracked" target="_blank" href="https://github.com/casabeats/snd">
            <div class="w4 bg-custom br2 ptm pbm tc fr trans-bg">GITHUB</div>
        </a>
        <br />
    </div>
</section>