<section class="mw7 center sans-serif plm-m plm-ms prm-m prm-ms">    
    <div class="w6 center mtxxl mbxxl mtl-ms mbxl-ms">
        <a class="white f5 bold tracked" href="https://github.com/chrsbrg/snd/archive/0.9.zip">
            <div class="w4 bg-custom br2 ptm pbm tc fl trans-bg">DOWNLOAD</div>
        </a>
        <a class="white f5 bold tracked" target="_blank" href="https://github.com/chrsbrg/snd">
            <div class="w4 bg-custom br2 ptm pbm tc fr trans-bg">GITHUB</div>
        </a>
        <br />
    </div>
</section>