<head>
    <title>{{ site.name }}</title>
    <meta charset="utf-8">
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" href="{{ site.path }}css/min.css">
<!--    <link rel="stylesheet" href="{{ site.path }}css/full.css">-->
    <script src="https://use.typekit.net/byo4ghi.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="{{ site.path }}src/snd.min.js"></script>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.path }}favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.path }}favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.path }}favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.path }}favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.path }}favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.path }}favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.path }}favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.path }}favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.path }}favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="{{ site.path }}favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.path }}favicon/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="{{ site.path }}favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ site.path }}favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ site.path }}favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ site.path }}favicon/manifest.json">
    <link rel="mask-icon" href="/snd/favicon/safari-pinned-tab.svg" color="#ff0000">
    <link rel="shortcut icon" href="{{ site.path }}favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{{ site.path }}favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="{{ site.path }}favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>