<noscript>
    <div class="tc bg-red ptm pbm white f5 heavy tracked">PLEASE ENABLE JAVASCRIPT</div>
</noscript>
<section class="header w-100 dt" style="background-image:url({{ site.path }}img/bg.jpg);">
    <div class="tc dtc v-mid snd w-100">
        <div class="fadeIn">
            <a class="f4 heavy tracked black bg-white br2 pas dim" target="_blank" href="http://chrs.cc">CASA</a>
            <h1 class="f7 f8-ms white tracked lh-title">SND</h1>
            <p class="f3 bold white">jQuery Audio Player &middot; v0.9.1</p>
            <div class="toggle">
                <button class="toggle-play db center ba bw2 br-circ b--custom trans-bg"><svg class="db w3 center" viewBox="0 0 32 32"><path d="M4 4 L28 16 L4 28 z"></path></svg></button>
                <button class="toggle-pause db center ba bw2 br-circ b--custom trans-bg" style="display: none !important;"><svg class="db w3 center" viewBox="0 0 32 32"><path d="M4 4 H12 V28 H4 z M20 4 H28 V28 H20 z"></path></svg></button>
            </div>
        </div>
    </div>
    <script>$('.snd').snd('{{ site.path }}sound/813-prpl-drunc-mad-decent.mp3');</script>
</section>